.container-button {
    display: flex;
    justify-content: space-between;
}
.container-button-location {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}
.box-button-location {
    width: 100%;
    max-width: 582px;
}

.button-onclick-location {
    width: 100%;
    display: flex;
    height: 52px;
    border-radius: 5px;
    padding: 10px 20px 10px 15px;
    background-color: #FF6060;
    color: #ffffff;
    border: none;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
   
    font-weight: 500;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: left;
}

.p-description-location {
    background: #F6F6F6;
    color: #FF6060;
    margin: 0;
    padding: 20px;
    border-radius: 5px;
    width: 540px;
    
}

@keyframes moveText {
    0% {
        transform: translateY(-20px);
        opacity: 0;
}
    50% {
        transform: translateY(-5px);
        opacity: 0;
}
    100% {
        transform: translateY(0);
        opacity: 1;
       
}
}

/* Appliquer l'animation au texte */
.text-move-animation-location {
    animation: moveText 0.5s;
    position: relative;
    overflow: hidden;
    z-index: -1;
    -webkit-animation: moveText 0.5s;
}

.rotate-button-location {
    transition: transform 0.5s ease;
    transform: rotate(-180deg);
    width: 32px;
    height: 32px;
}
.rotate-back-button-location {
    transition: transform 0.5s ease;
    transform: rotate(0deg);
    width: 32px;
    height: 32px;
  
}


@media (max-width: 765px) {
   .container-button-location {
    flex-direction: column;
    gap: 20px;
   }

   .button-onclick-location {
    font-size: 13px;
   }
   .rotate-back-button-location {
    width: 16px;
    height: 9px;
   }
    
}