/* Page accueil style pour les carte location */
.card-location {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    width: 100%;
    padding: 50px 50px;
}
/* Style pour le lien de la carte */
.link-card {
    position: relative;
    overflow: hidden;
    display: flex;
    width: 100%;
    max-width: 340px;
    height: 340px;
    border-radius: 10px;
    color: #ffffff;
    align-items: flex-end;
}
/* Style pour l'image de la carte */
.img-card {
    width: 340px;
    height: 340px;
    object-fit: cover;
    position: absolute;
}
/* Style pour le titre de l'image */
.img-title {
    position: absolute;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    padding: 0 20px;
}


@media (max-width: 1311px) {
    .card-location {
        justify-content: center;
    }
}
@media (max-width: 400px) {

    .card-location {
        gap: 25px;
        padding: 0;
    }

    .link-card {
        height: 255px;
    }

    .img-card {
        height: 255px;
    }
}

