
.card-location {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    padding: 50px 50px;
}

.link-card {
    position: relative;
    overflow: hidden;
    display: flex;
    width: 340px;
    height: 340px;
    border-radius: 10px;
    color: #ffffff;
    align-items: flex-end;
}

.img-card {
    width: 340px;
    height: 340px;
    object-fit: cover;
    position: absolute;
}

.img-title {
    position: absolute;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    padding: 0 20px;
}