/* style pour les carte de location */
.container-location {
    width: 100%;
    max-width: 1240px;
}

.container-location-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.carousel {
    width: 100%;
    height: 415px;
    position: relative;
    overflow: hidden;
}
.h2-TitleLocation {
    color: #ff6060;
    font-size: 36px;
    font-weight: 500;
    line-height: 51px;
    letter-spacing: 0em;
    text-align: left;
    
}

.h3-TitleLocation {
    color: #ff6060;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
}

.tags-location {
    display: flex;
    gap: 10px;
    right: 40px;
    position: relative;
    list-style: none;
}


.tags-location li {
    min-width: 115px;
    
    padding: 0 10px;
    height: 25px;
    display: flex;
    border-radius: 25px;
    color: #ffffff;
    background: #ff6060;
    font-size: 14px;
    font-weight: 500;
    justify-content: center;
    align-items: center;
}

@media (max-width: 765px) {
    .carousel {
        height: 255px;
    }
    .carousel-container {
        height: 255px;
    }
    .img-carousel {
        height: 255px;
    }
    
    .container-location-2 {
        flex-wrap: wrap;
    }
    .h2-TitleLocation {
        font-size: 18px;
    }
    .h3-TitleLocation {
        font-size: 14px;
    }
    .conainer-title-tags {
        width: 100%;
    }
    .tags-location {
        max-width: 365px;
        padding: 0;
        justify-content: flex-start;
        right: 0;
    }
    .tags-location li {
        font-size: 10px;
        padding: 0;
    }
    
}

@media (max-width: 765px) { 
    .tags-location li {
        width: 100%;
        min-width: 0;
    }
}