.LogoNav {
    min-width: 335px;
    max-width: 1240px;
    width: 100%;
    height: 68px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 45px auto;
}

nav {
    display: flex;
    gap: 57px;
    width: 100%;
    justify-content: flex-end;
}

.logo-nav {
    max-width: 210.32px;
    max-height: 68px;
}

.link-accueil,
.link-propos {
  text-decoration: none;
  color: #FF6060;
  
}

.link-accueil.active,
.link-propos.active {
  text-decoration: underline;
  
}

@media (max-width: 765px) {
 .logo-nav {
  width: 145px;
  height: 46px;
 }
 nav {
    width: 100%;
 }
}

@media (max-width: 400px) {
  .LogoNav {
    margin: 10px auto;
  }
  .logo-nav {
    width: 100px;
    height: 46px;
   }
 nav {
  
  justify-content:center;
    gap: 31px;
    
 }

}

@media (max-width: 320px) {
  .logo-nav {
    width: 100px;
    height: 46px;
   }
 nav {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    width: 100%;
 }

}
