// Style page erreur 404 
.container-box-404 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.container-404 {
    position: relative;
    // left: 50px;
    width: 100%;
    max-width: 597px;
    display: flex;
    height: 263px;
    // border: 1px solid red; 
    align-items: center;
    justify-content: center;
    margin: 50px 0;
}

.p-404 {
    font-family: Montserrat;
    font-size: 288px;
    font-weight: 700;
    letter-spacing: 0em;
    text-align: center;
    color: #FF6060;
}

.p-page-404 {
    color:  #FF6060;
    font-family: Montserrat;
    font-size: 36px;
    font-weight: 500;
    line-height: 51px;
    letter-spacing: 0em;
    margin: 50px 0;   
}

.br-p-404 {
    display: none;
}

.link-retour-accueil {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0em;
    position: relative;
    color: #FF6060;
}

@media (max-width: 600px) {
    .p-404 {
        font-size:220px;
    }
     
 }


@media (max-width: 400px) {

    .container-404 {
        height: 155px;
    }
    .p-404 {
        font-size: 150px;
    }
    .p-page-404 {
        font-size: 18px;
        text-align: center;
        margin: 0 0 53px 0;
    }
    .br-p-404 {
        display: inline;
    }
 }